
<div class="container">

  <div [hidden]="create || detailPage">
    <div class="nav">
      <div class="container-fluid">
        <div>
          <ul class="nav navbar-nav">
            <li>Qinhuan</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-offset-3">
        <div class="text-center" style="background-color: lightyellow;"  *ngFor="let eye of eyes">
          <a class="col-sm-offset-6" (click)="goDetail(eye.id)" href="#!/detail">{{eye.date}} {{eye.score}}</a>
        </div>
      </div>
    </div>
    <div>
      <span>Total expenses:</span>
      <span>eyes[eyes.length]</span>
      <span>Mood score:</span>
      <span>80</span>
    </div>
    <div>
      <a class="btn btn-success" (click)="showCreatePage()" href="#!/add">Create</a>
    </div>
  </div>







  <div [hidden]="!create">
    <div class="nav">
      <div class="container-fluid">
        <div>
          <ul class="nav navbar-nav">
            <li><a (click)="createBackToListPage()" href="#!/list">Back</a><span>Qinhuan</span></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>

    <form class="form-horizontal" style="margin-top: 30px">
      <div>
        EyE on :
      </div>
      <div class="form-group">
        <label for="date" class="control-label col-md-3">Date</label>
        <div class="col-md-8">
        <input class="form-control" type="text" id="date" name="date" placeholder="Please input date Month/Date/Year" [(ngModel)]="eye.date">
        </div>
      </div>
      <div class="form-group">
        <label for="spend" class="control-label col-md-3">Expenditure</label>
        <div class="col-md-8">
          <input class="form-control" type="text" id="spend" name="spend" placeholder="Please input your today's expense" [(ngModel)]="eye.spend">
        </div>
      </div>
      <div class="form-group">
        <label for="content" class="control-label col-md-3">Your Today</label>
        <div class="col-md-8">
          <textarea class="form-control" id="content" name="content" cols="30" rows="10" placeholder="Please record what you have done today briefly !" [(ngModel)]="eye.content"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3" for="score">Ended with</label>
        <div class="col-md-8">
          <select class="form-control"  id="score" required [(ngModel)]="eye.score" name="score">
            <option *ngFor="let s of scores" [value]="s">{{s}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
          <a class="btn btn-success" (click)="submit()" href="#!/list">Submit</a>
        </div>
      </div>
    </form>
  </div>










  

  <div [hidden]="!detailPage">
    <div class="nav">
      <div class="container-fluid">
        <div>
          <ul class="nav navbar-nav">
            <li><a (click)="detailBackToListPage()" href="#!/list">Back</a><span>Qinhuan</span></li>
          </ul>
        </div>
      </div>
    </div>

    <form class="form-horizontal" style="margin-top: 30px">
      <div class="form-group">
        <span class="control-label col-md-3">{{detail.date}}</span>
      </div>
      <div class="form-group">
        <span class="control-label col-md-3">Expenditure:</span>
        <span class="control-label col-md-3">{{detail.spend}}</span>
      </div>
      <div class="form-group">
        <span class="control-label col-md-3">Your Today:</span>
        <span class="control-label col-md-3">{{detail.content}}</span>
      </div>
      <div class="form-group">
        <span class="control-label col-md-3">Ended with:</span>
        <span class="control-label col-md-3">{{detail.score}}</span>
      </div>
    </form>
  </div>

</div>



